<% provide(:title, 'Blog') %>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="header-description pull-left">
        <h1>SmartMap: Blog </h1>
      </div><!-- /header-description -->

    </div><!-- /span12 -->
  </div><!-- /row-fluid -->
</div><!-- /container -->
</header>

<div class="page-content">

  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <article class="blog-post">
        <h4 class="entry-title"><a href="#">Proin sit amet scelerisque erat</a></h4>
        <img src="/assets/screenshot.jpg" alt="blog image" />

        <div class="meta-tags">
          <a class="link" href="#">10 days ago</a>
          <a class="link" href="#">Video, Photo</a>
          <a class="link" href="#">10 comments</a>
        </div>

        <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula. Nam porta tristique blandit. In a libero in quam vestibulum dictum. Suspendisse dui velit, vehicula at interdum eget, rutrum sed ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sit amet neque eu orci euismod interdum. Duis ac lacus vitae dolor pulvinar ultricies a et elit. Nam sit amet ligula et leo pellentesque vulputate at eu magna. Cras nisl magna, iaculis nec bibendum eget, volutpat eget nisl. Nam congue rhoncus tellus in blandit.</p>

        <a class="btn btn-danger" href="single.html">Read more...</a>
        </article>                  
      </div><!-- /span6 -->

      <div class="span6">
        <article class="blog-post">
        <h4 class="entry-title"><a href="#">Proin sit amet scelerisque erat</a></h4>
        <img src="/assets/screenshot.jpg" alt="blog image" />

        <div class="meta-tags">
          <a class="link" href="#">10 days ago</a>
          <a class="link" href="#">Video, Photo</a>
          <a class="link" href="#">10 comments</a>
        </div>

        <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula. Nam porta tristique blandit. In a libero in quam vestibulum dictum. Suspendisse dui velit, vehicula at interdum eget, rutrum sed ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sit amet neque eu orci euismod interdum. Duis ac lacus vitae dolor pulvinar ultricies a et elit. Nam sit amet ligula et leo pellentesque vulputate at eu magna. Cras nisl magna, iaculis nec bibendum eget, volutpat eget nisl. Nam congue rhoncus tellus in blandit.</p>

        <a class="btn btn-danger" href="single.html">Read more...</a>
        </article>                  
      </div><!-- /span6 -->

      <div class="span6">
        <article class="blog-post">
        <h4 class="entry-title"><a href="#">Proin sit amet scelerisque erat</a></h4>
        <img src="/assets/screenshot.jpg" alt="blog image" />

        <div class="meta-tags">
          <a class="link" href="#">10 days ago</a>
          <a class="link" href="#">Video, Photo</a>
          <a class="link" href="#">10 comments</a>
        </div>

        <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula. Nam porta tristique blandit. In a libero in quam vestibulum dictum. Suspendisse dui velit, vehicula at interdum eget, rutrum sed ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sit amet neque eu orci euismod interdum. Duis ac lacus vitae dolor pulvinar ultricies a et elit. Nam sit amet ligula et leo pellentesque vulputate at eu magna. Cras nisl magna, iaculis nec bibendum eget, volutpat eget nisl. Nam congue rhoncus tellus in blandit.</p>

        <a class="btn btn-danger" href="single.html">Read more...</a>
        </article>                  
      </div><!-- /span6 -->

      <div class="span6">
        <article class="blog-post">
        <h4 class="entry-title"><a href="#">Proin sit amet scelerisque erat</a></h4>
        <img src="/assets/screenshot.jpg" alt="blog image" />

        <div class="meta-tags">
          <a class="link" href="#">10 days ago</a>
          <a class="link" href="#">Video, Photo</a>
          <a class="link" href="#">10 comments</a>
        </div>

        <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula. Nam porta tristique blandit. In a libero in quam vestibulum dictum. Suspendisse dui velit, vehicula at interdum eget, rutrum sed ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sit amet neque eu orci euismod interdum. Duis ac lacus vitae dolor pulvinar ultricies a et elit. Nam sit amet ligula et leo pellentesque vulputate at eu magna. Cras nisl magna, iaculis nec bibendum eget, volutpat eget nisl. Nam congue rhoncus tellus in blandit.</p>

        <a class="btn btn-danger" href="single.html">Read more...</a>
        </article>                  
      </div><!-- /span6 -->
    </div><!-- /row-fluid -->
  </div><!-- /container -->

</div><!-- /page-content -->

