<% provide(:title, 'Help') %>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="header-description pull-left">
        <h1>About Oyam! </h1>
      </div><!-- /header-description -->

    </div><!-- /span12 -->
  </div><!-- /row-fluid -->
</div><!-- /container -->
</header>

<div class="page-content">

  <div class="container">
    <div class="row-fluid">
        <!--</div>[> /span4 <]-->
      <div class="span2">
      </div> 
      <div class="span8">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim diam, rutrum et vehicula a, ornare ullamcorper neque. Etiam vitae mollis nulla. Sed vestibulum, lacus eget iaculis pharetra, arcu ipsum fermentum risus, condimentum mattis diam leo et leo. Integer quis neque eget urna tempus congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla semper pellentesque magna, non elementum orci sodales a. Sed quis sapien diam, euismod egestas risus. Cras non lorem in metus tempor tempor vitae id neque. Duis id eros ultrices diam placerat ullamcorper. Etiam quis nulla ante, eget vehicula tellus. Suspendisse potenti. Vestibulum dui odio, elementum sit amet tincidunt sed, dapibus eu tortor. Cras a lorem urna.

        Pellentesque at urna malesuada lorem tristique interdum. Fusce tincidunt est feugiat ligula luctus ornare. Sed in urna velit, auctor dictum tellus. Aenean commodo magna non magna dictum venenatis. Curabitur ut leo non sapien interdum convallis. Etiam diam arcu, placerat quis interdum a, aliquet sit amet neque. Duis id enim sit amet odio consectetur convallis ac ut lacus. Donec dui nisi, ultrices non tincidunt et, auctor a orci. Integer vitae sem eget tortor pharetra pharetra. Curabitur egestas laoreet lacus, eu pellentesque lorem consequat a. Morbi nec convallis nulla. In dictum, turpis non aliquet congue, mi nunc varius justo, quis egestas lorem nisi ac ipsum. Morbi fringilla nunc eget odio porta adipiscing. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sapien tellus, porttitor aliquam iaculis ac, mollis ut magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
        Pellentesque a mi nec arcu varius vulputate. Donec ac convallis lectus. Mauris at massa ut nunc mattis semper ac id quam. Nunc in lorem nibh, quis feugiat nibh. Proin convallis, purus vel luctus luctus, odio est eleifend magna, sit amet laoreet enim nibh vel justo. Sed enim lorem, viverra eu aliquam ornare, fringilla rhoncus ante. Sed nisl nisl, convallis lobortis semper at, sodales et turpis. Nam urna erat, interdum et pulvinar in, elementum in metus.

        <p>
        Etiam sit amet ligula at lacus iaculis ultricies. Nam ut nunc ac lacus venenatis consequat. Maecenas at turpis sit amet elit ultrices placerat. Curabitur a nisl et tortor blandit rhoncus. Vestibulum consectetur augue quis turpis fermentum rutrum. Vestibulum ultricies tempus erat. Curabitur sollicitudin suscipit facilisis. Morbi vestibulum convallis iaculis. Duis et sem non velit sodales posuere.
        </p>
        <p>
        Nullam elementum velit ut orci sagittis feugiat. Integer lacus ligula, varius quis ornare quis, imperdiet quis tellus. Ut faucibus neque ut neque fermentum placerat. Aenean libero purus, tincidunt ac varius ut, porta in erat. Aenean id nunc pretium enim ultricies interdum. Curabitur imperdiet lacus ut diam hendrerit quis consectetur quam ultricies. Fusce aliquam porttitor molestie. Fusce faucibus mauris a diam aliquam sed sodales nisl feugiat.</p>
      </div><!-- /span6 -->
    </div><!-- /row-fluid -->
  </div><!-- /container -->

  <div class="span2">
  </div> 
</div><!-- /page-content -->


