<% provide(:title, @user.name) %>
</header>

<div class="page-content">
  <div class="container">
    <div class="row-fluid">
      <div class="span2">
      </div> 
      <div class="span8">
    <%= link_to image_tag(@user.image_url, alt: @user.name) %>
    <h3><%= @user.name %></h3>
      </div><!-- /span6 -->
    </div><!-- /row-fluid -->
  <div class="span8">
    <% if @user.goals.any? %>
      <h3>Goals(<%= @user.goals.count %>)</h3>
    <% end %>
    <ol class="goals">
      <%= render @user.goals %>
    </ol>
  </div>
  </div><!-- /container -->
</div><!-- /page-content -->
